{% extends 'blog/base.html' %}

{% block content %}
    {% if form.errors %}
        <div class="Error">
            <p>⚠️⚠️⚠️Ha cometido un error, vuelva a introducir los campos⚠️⚠️⚠️</p>
        </div>
    {% endif %}
    <form method="post">
    {% csrf_token %}
    <label for="id_old_password">Contraseña actual:</label>
    <input id="id_old_password" type="password" name="old_password" autofocus="" required="">
    <br>
    <label for="id_new_password1">Nueva contraseña:</label>
    <input id="id_new_password1" type="password" name="new_password1" required="">
    <br>
    <label for="id_new_password2">Confirme su nueva contraseña:</label>
    <input id="id_new_password2" type="password" name="new_password2" required="">
    <br>
    <button type="submit">Guardar cambios</button>
    </form>
{% endblock %}
