<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
        
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hola moni, nos vemos mañana en simu
        </div>
        
        <div>
            <p>published: 14.06.2015, 12:14</p>
            <h2><ahref="">My second post</a></h2>
            <p>Posdata: lleva el ejercicio que teniamos que hacer y que yo solo lo hice en tu papel.
        </div>
    </body>
</html>
