{% extends 'blog/base.html' %}

{% block content %}
    <div class="titulo_borrador">
        <h1> Estos son tus borradores </h1>
    </div>
    {% for post in posts %}
        <div class="post">
            <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
            <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|truncatechars:200 }}</p>
        </div>
    {% empty %}
            <div class="color_no_comment">
                <br><br>
                <p>No tienes borradores</p>
            </div>
    {% endfor %}
{% endblock %}
